<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
    <script th:src="@{/js/logOut.js}"></script>
    <script th:src="@{/js/signIn.js}"></script>
</head>
<body>
<h1>Sign up</h1>
<p>Please, sign in to be ready for a game.</p>
<p><input type="text" name="userName" id="userName"> Логин</p>
<p><input type="text" name="password" id="password"> Пароль</p>
<p><button type="button" th:onclick="signIn()">Sign In</button></p>
<div>
    <button type="button" th:onclick="logOut()">Log out</button>
</div>
<p>jwtToken</p>
<p id="jwtToken"></p>
<div>
    <a href="/auth">Back</a>
</div>
<div>
    <a href="/game">To Game</a>
</div>
</body>
</html>